*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#theForm{
    width: 50%;
    height: 10%;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
    text-align: center;
    background-color: rgb(135, 138, 138);
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info{
    max-width: 40%;
    font-size: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#infoResult{
    margin-right: 10px;
    margin-top: 10px;
    font-size: 40px;
    overflow: auto;
    max-height: 90%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}